{% extends "master.html" %}
{% load staticfiles %}
{% block Imports %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> <!-- Se carga este archivo para estilizar el formulario -->
		<script type="text/javascript" src="{% static 'js/validadores.js' %}"></script> <!-- Se cargan los validadores comunes -->
		<script type="text/javascript" src="{% static 'js/validadorCambioPasswd.js' %}"></script> <!-- Se cargan los validadores para el cambio de contraseña -->
{% endblock %}

{% block Content %}<!-- Formulario para cambiar contraseña -->
				<h2 align="center">Cambio de contraseña</h2>
				{% if user %}
				{% if form %}
				<form id="cambio-pass" method="POST">
					{% csrf_token %}
					<table class="tableform">
						{% for campo in form %}
						<tr>
							<th width="20%">{{ campo.label_tag }}</th>
							<td width="60%">{{ campo }}</td>
							<td width="20%"><p id="error_{{ campo.id_for_label }}" class="error">{{ campo.errors }}</p></td>
						</tr>
						{% endfor %}
					</table>
					<input type="submit" class="campo boton" value="Cambiar contraseña" />
				</form>
				{% else %}
				<p align="center">Lo sentimos, el enlace para el cambio de contraseña es inválido.</p>
				{% endif %}
				{% else %}
				<p align="center">Lo sentimos, su cuenta de usuario no existe.</p>
				{% endif %}
{% endblock %}
