{% extends "master.html" %}
{% load staticfiles %}
{% block Imports %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> <!-- Carga estilos para los formularios -->
		<script type="text/javascript" src="{% static 'js/validadores.js' %}"></script> <!-- Carga los validadores comunes -->
		<script type="text/javascript" src="{% static 'js/validadorContacto.js' %}"></script> <!-- Carga los validadores para el formulario de Contacto -->
{% endblock %}

{% block Content %}<!-- Formulario de contacto -->
				<h2 align="center" >Contacto</h2>
				<form id="contacto" method="POST">
					{% csrf_token %}
					<table class="tableform">
						{% for campo in form %}
						<tr>
							<th width="20%">{{ campo.label_tag }}</th>
							<td width="60%">{{ campo }}</td>
							<td width="20%"><p id="error_{{ campo.name }}" class="error">{{ campo.errors }}</p></td>
						</tr>
						{% endfor %}
					</table>
					<input type="submit" class="campo boton" value="Enviar" />
				</form>
{% endblock %}
