{% extends "master.html" %}
{% load staticfiles %}
{% block Imports %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> <!-- Carga estilos para los formularios -->
		<script type="text/javascript" src="{% static 'js/validadores.js' %}"></script> <!-- Carga los validadores comunes -->
		<script type="text/javascript" src="{% static 'js/validadorAdoptante.js' %}"></script> <!-- Carga los validadores para el formulario de actualización de adoptante -->
{% endblock %}

{% block Content %}
				{% if form %}<!-- Formulario de edición de mascotas -->
				<h2>Editando adoptante</h2>
				<form id="reg-adoptante" method="POST">
					{% csrf_token %}
					<table class="tableform">
						{% for campo in form %}
						<tr>
							<th width="20%">{{ campo.label_tag }}</th>
							<td width="60%">{{ campo }}</td>
							<td width="20%"><p id="error_{{ campo.id_for_label }}" class="error">{{ campo.errors }}</p></td>
						</tr>
						{% endfor %}
					</table>
					<input type="submit" class="campo boton" value="Actualizar" />
				</form>
				{% else %}
				<h2>Adoptante no existente</h2>
				<p>Lo sentimos, el adoptante que desea editar no existe.</p>
				{% endif %}
{% endblock %}
