{% extends "master.html" %}
{% load staticfiles %}
{% block Imports %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> <!-- Carga estilos para los formularios -->
		<script type="text/javascript" src="{% static 'js/validadores.js' %}"></script> <!-- Carga los validadores comunes -->
		<script type="text/javascript" src="{% static 'js/validadorMascota.js' %}"></script> <!-- Cargan los validadores para el registro de mascotas -->
{% endblock %}

{% block Content %}
			<div class="container">
				<h2 align="center">Agregar mascota</h2>
					<form id="reg-mascota" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<table class="tableform">
							{% for campo in form %}
							<tr>
								<th width="20%">{{ campo.label_tag }}</th>
								<td width="60%">{{ campo }}</td>
								<td width="20%"><p id="error_{{ campo.name }}" class="error">{{ campo.errors }}</p></td>
							</tr>
							{% endfor %}
						</table>
						<input type="submit" class="campo boton" value="Agregar mascota" />
					</form>
				</div>

			<div class="container">
				<h2 align="center">Lista de Mascotas</h2>
					{% if mascotas %}
					<table class="list">
						<tr>
							<th width="20%">Foto</th>
							<th width="10%">ID</th>
							<th width="30%">Nombre mascota</th>
							<th width="20%">Estado</th>
							<th width="20%">Acciones</th>
						</tr>
						{% for m in mascotas.object_list %}
						<tr>
							<td><img src="{{ m.foto.url }}" width="200px" alt="Foto de {{ m.nombre }}" /></td>
							<td>{{ m.codigoMascota }}</td>
							<td>{{ m.nombre }}</td>
							<td>{{ m.estado }}</td>
							<td>
								<a href="{% url 'verMascota' pk=m.codigoMascota %}"><img class="action" src="{% static 'images/view.png' %}" alt="Ver" /></a>
								<a href="{% url 'actualizarMascota' pk=m.codigoMascota %}"><img class="action" src="{% static 'images/edit.png' %}" alt="Editar" /></a>
								<a href="{% url 'eliminarMascota' pk=m.codigoMascota %}"><img class="action" src="{% static 'images/delete.png' %}" alt="Eliminar" /></a>
							</td>
						</tr>
						{% endfor %}
					</table>

					<nav id="paginator">
						<div id="previous">{% if mascotas.has_previous %}<a href="?page={{ mascotas.previous_page_number }}">Anterior</a>{% endif %}</div>
						<div id="page"><p>Página {{ mascotas.number }} de {{ mascotas.paginator.num_pages }}</p></div>
						<div id="next">{% if mascotas.has_next %}<a href="?page={{ mascotas.next_page_number }}">Siguiente</a>{% endif %}</div>
					</nav>
					{% else %}
					<p>No hay mascotas</p>
					{% endif %}
				</div>
{% endblock %}
