{% extends "master.html" %}
{% load staticfiles %}
{% block Imports %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.css' %}" /> <!-- Carga los estilos del BxSlider -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/carrusel.css' %}" /> <!-- Carga atributos definidos para el carrusel de esta página -->
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/index.css' %}" /> <!-- Carga estilos adicionales para la página del índice -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}" /> <!-- Carga el estilo de la galería de fotos -->
	<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script> <!-- Carga la API de BxSlider -->
	<script type="text/javascript" src="{% static 'js/carrusel.js' %}"></script> <!-- Carga atributos definidos para el carrusel de esta página -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block Content %} 

    <div class="container" >
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <img src="{% static 'img/perro.png' %}" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'img/perro_adoptado.jpg' %}" alt="Chicago" style="width:100%;">
          </div>
        
          <div class="item">
            <img src="{% static 'img/perro_adoptado_2.jpg' %}" alt="New York" style="width:100%;">
          </div>
      
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>






    <div class="row banner-info text-center" id="nose">
        <div class="center-xs col-12 col-md-4 py-5">
            <a class="phone" href="tel:+56998765431">+56 9 98765431</a>
        </div>
        <article class="center-xs col-12 col-md-4 py-5">
            <h5 class="headline">Rescate y adopción de perros callejeros</h5>
        </article>
        <div class="center-xs col-12 col-md-4 py-5">
            <div class="shared-panel">                                
                <a href="URL-FACEBOOK" target="_blank"> <img class="sociales" alt="siguenos en facebook" src="http://1.bp.blogspot.com/-PrByV4NBlSs/UiXnD1FEFnI/AAAAAAAABws/dUhvcAdYRiY/s1600/Facebook+alt+1.png" title="siguenos en facebook"  /></a>  
                <a href="URL-Google+" target="_blank"><img class="sociales" alt="siguenos en Google+"  src="http://3.bp.blogspot.com/-fnL839vxuao/UiXnFfyN17I/AAAAAAAABxc/VvcXJlZ65Ko/s1600/Google%252B+alt.png" title="siguenos en Google+"  /></a>                                
                <a href="URL-Instagram" target="_blank"><img class="sociales" alt="sígueme en Instagram"  src="http://2.bp.blogspot.com/-kQop92g4NsM/UidPJ06ER1I/AAAAAAAACAA/0mj0jK5hhXM/s1600/instagram2.png" title="sígueme en Instagram"/></a>                                
                <a href="URL-Twitter" target="_blank"><img class="sociales" alt="siguenos en Twitter"  src="http://3.bp.blogspot.com/-wlwaJJG-eOY/UiXnHS2jLsI/AAAAAAAAByQ/I2tLyZDLNL4/s1600/Twitter+NEW.png" title="siguenos en Twitter" /></a>                                
                <a target="_blank" class="shared ce" id="sml" title="Email"></a>                                        
            </div>
        </div>

    </div>
</div>




	<div class="bg-ligth">
        <div class="container">
            <div class="row">
                <article class="col-12 col-md-6 py-5 end-xs">                                
                        <h2>Rescate</h2>                                
                        <p class="subtitulo">Etapa Uno</p>
                        <hr>                            
                    <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
                    <img src="{% static 'img/rescate.jpg' %}" alt="Perro Negro">   
                </article>

                <article class="col-12 col-md-6 py-5">
                    <img src="{% static 'img/crowfunding2.jpg' %}" alt="">
                    <h2>CROWDFUNDING</h2>
                    <p class="subtitulo">Financiamiento</p>
                    <hr>
                    <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>     
                </article>
            </div>
        </div>
    </div>   


    <div class="container">
        
                <div class="container" id="galeria">
                    <div class="row">
                        {% if mascotas %}
                <div id="galeria"> <!-- Sección que contiene la galería de fotos de perros -->
                    {% for trio in mascotas %}
                    <div class="imgcol"> <!-- Columna de imágenes -->
                        {% for m in trio %}
                        <div class="pic" >
                            <img src="{{ m.foto.url }}" alt="Foto de {{ m.nombre }}" width="360px" height="360px" object-fit="" />
                            <div class="status">{{ m.estado }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                    </div>
                </div>
            </div>            
        </div>

				
{% endblock %}
