{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"> <!-- El atributo lang permite especificar el idioma de la página -->
	<head>
		<meta charset="utf-8" /> <!-- Codificación de caracteres de la página -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" /> <!-- La página se ajusta al ancho del navegador o dispositivo -->
		<title>{{ titulo }} | Mis Perris</title>
		<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/global.css' %}" /> <!-- Carga los estilos principales del sitio web -->
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> <!-- Carga la librería jQuery -->
		<script type="text/javascript" src="{% static 'js/prefixfree.min.js' %}"></script> <!-- Carga el script que permite que la página se visualize de la misma manera en todos los navegadores -->
		<!-- Aquí se realizan las cargas adicionales de archivos requeridos para cada página del sitio -->

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- flexboxgrid CSS -->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
        <!--**********  Fancybox  **********-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="CSS/estilos.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
        <!-- Adding Google Font Open Sans -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <!-- Adding Font Awesome Icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Adding Flexbox Grid library -->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
        <!-- Adding Helper Classes -->
        <link rel="stylesheet" href="{% static 'css/helper.css' %}" type="text/css" />
        <!-- relacion c/ js -->
        <script src="main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/lib/bootstrap.min.css">
        <script src="/lib/jquery-1.12.2.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>


        <link rel="shortcut icon" href="{% static 'img/favicon.ico.png' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> <!--Ruta para el Archivo Principal de Estilo-->
        <script src="{% static 'js/prefix.js' %}" type="test/javascript"></script><!--Script para asegurar que en todos los navegadores y dispositivos el sitio se vea igual-->

    		{% block Imports %}
    		{% endblock %}
	</head>

	<body>

        <header class="container" id="principal" >

                <div id="account-bar"> <!-- Barra de cuentas de usuario -->
                    <nav> <!-- Barra que contiene los enlaces -->
                        {% if not user.is_authenticated %}
                        <a href="{% url 'registro' %}">Registrarse</a>
                        <a href="{% url 'login' %}">Iniciar Sesión</a>
                        {% else %}
                        Bienvenido, {{ user.first_name }}
                        {% if user.is_staff %}
                        <a href="{% url 'gestionAdoptantes' %}">Gestión adoptantes</a>
                        <a href="{% url 'gestionMascotas' %}">Gestión mascotas</a>
                        {% else %}
                        <a href="{% url 'adopcionMascota' %}">Adoptar una mascota</a>
                        <a href="{% url 'mascotasAdoptante' %}">Mis mascotas</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                        {% endif %}
                    </nav>
                </div>


            <nav class="navbar navbar-expand-lg navbar-light" id="pp">           
                <figure class="logo-header">
                    <a href="/" title="">
                        <img src="/static/images/logo.png" alt="" />
                    </a>    
                </figure>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav" id="menu_inicio">
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'indice' %}"">Inicio</a> <!--<span class="sr-only">(current)</span> -->
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'nosotros' %}" >Quiénes somos</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'servicios' %}" >Servicios</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'contacto' %}" >Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </nav>


        </header>

        

			{% block Content %}
			{% endblock %}


        <footer class="container" id="piepagina" >
                        <p>Desarrollo Web y Mobile</p>
        </footer>
	</body>
</html>



